.gallery-tab-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.gallery-tab-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.project-container {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
