* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.home,
.about,
.projects,
.contact,
.resume {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url("./assets/glasses.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 130px;
}

.projects {
  background: url("./assets/codeScreen.jpg");
  background-color: #ececec;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 130px;
}

.contact {
  background-image: url("./assets/layout.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 130px;
}

.resume {
  background-image: url("./assets/desk.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 130px;
}

@media screen and (max-width: 960px) {
  .home,
  .about,
  .projects,
  .contact,
  .resume {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
}

@media screen and (max-width: 786px) {
  .home,
  .about,
  .projects,
  .contact,
  .resume {
    display: flex;
    height: 80vh;
    width: auto;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
}
